<!DOCTYPE html>
<html>
  <head>
    <title>Pencil Pusher</title>
  </head>
  <body>
    <img id="title-image" src="" alt="Logo">
    
    <br>
    <div class=selection-menu>
      <form action="" method="POST">
        <label>Select Genre: </label>
        <select name="genre">
          <option value="Horror">Horror</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Fairytale">Fairytale</option>
          <option value="Sci-Fi">Sci-Fi</option>
          <option value="Dr. Seuss">Dr. Seuss</option>
        </select>
    <div>
      
        </div>   
        <br>
        <label>Max Length</label>
        <input type="number" name="max-length" placeholder="Some Number">
        
        <div class="prompt-box">
				  <label>Input Prompt: </label>
				  <input type="text" name="prompt" placeholder="Text Goes Here">
			  </div>
        <input type="submit" name="submit" value="submit">
      </form>
      <article class="response">
        <p>
          Generating! or incorrect response
        </p>
      </article>
    </section>
    <section class="output">
      <p>
        Output
      </p>
    </section>
    <br>
  </body>
</html>