<!DOCTYPE html>
<html>
  <head>
    <title>Pencil Pusher</title>
    <link href="{{ url_for('static',filename='/css/styles.css') }}" rel="stylesheet" />
  </head>
<ul>
    <li> </li>
</ul>

  <body>
<div class= "box-1">
     <div class="special-links">
     <li><a href="landing-page.html">Home</a></li>
    <li><a href="ai-page.html">Try Our Project!</a></li>
    <li><a href="about-page.html">About Us</a></li>
	</div>
</div>
    <div class="logo">
        <img id="title-image" src="static/img/white-logo.png" alt="Logo" width=600>
    </div>
    <br>
    <div class="try-it-button" >
      <button type="button">Try it out!</button>
    </div>
    <section class="inspiration" id="inspiration">
      <h2 class="inspo-title">
        inspiration
      </h2>
      <p class="inspo-content">
        lorema
      </p>
    </section>
    <!-- About Us Section !-->
    <section class="about-us" id="about-us">
      <div class="blurbs" id="blurb1">
        <h3>Andrew Swafford</h3>
        <p>
           Hi, I'm Andrew Swafford, but I go by Andy. I am a rising junior in Glenda Dawson High School. My favorite color is green, and I am interested in coding and robotics. In my free time I like to practice my instrument and debate. I helped do [this] and [this] for our project.
        </p>
      </div>
      <div class="blurbs" id="blurb2">
        <h3>Ciel Nanasca</h3>
        <p>
          Hey! I'm Chelsea Nanasca or Ciel, and I am a rising 10th grader at John F. Kennedy Highschool. In my free time, I enjoy talking to friends, practicing my instrument, and also trying out many various skills and hobbies. I enjoy creating and hearing about analysis on various things, and I also enjoy art. And, in this project I integrated those by helping out with designing the website, writing, and programming.
        </p>
      </div>
      <div class="blurbs" id="blurb3"><strong></strong>
        <h3>Nogah Lustig</h3>
        <p>
          Hello! I'm Nogah Lustig, a rising 9th grader. I just finished Middle School, and my favorite color is blue--black is a close second. I’m interested in learning more about human social-emotional behaviors and I enjoy playing my trumpet. In my free time I read books, watch T.V. with my family, or play games with my friends. I helped with programming, preprocessing the data, and assisting my teammates for this project.
        </p>
      </div>
      <div class="blurbs" id="blurb4">
        <h3>Elijah Ozawa</h3>
        <p>
          Hey I'm Elijah Ozawa but I go by Eli for short. I am going onto my last year of middle school and I am very hyped about it. I love to play hockey competitively and I also love to play video games. I play the piano and I love to eat food. My favorite color is navy blue. In my free time, I try to plan out what I am going to do with my day or I go and play some games. What I helped with the project was that I helped with the design process.
        </p>
      </div>
      <div class="blurbs" id="blurb5">
        <h3>Rihana Abdulvahid</h3>
        <p>
          Hi, I'm Rihana Abdulvahid, and I'm a rising 10th grader at Evergreen Valley High School. My hobbies include drawing/painting, playing my instrument, reading, and crafting, basically anything creative! For this project, I helped with training the AI models, preprocessing the data, and designing the website.
        </p>
      </div>
      <div class="blurbs" id="blurb6">
        <h3>Bryan Leong</h3>
        <p>
          Hi, I’m Bryan Leong, a rising 9th grader. I just finished middle school and I like to play video games. My favorite color is orange and I mostly don’t know what to do in my free time. For this project, I helped with training the AI models.
        </p>
      </div>
      <div class="blurb-subtext" id="ethan-paragraph">
        <p>
          slay Ethan
        </p>
      </div>
    </section>
       <!-- About Us Section End !-->
    <!-- FORM BEGINS-->
    <section class="contact-us" id="contact-id">
      <div class="margin1">
        <h2>Contact Us</h2>
        <form action="BLANKBLANK" method="POST">
          <div class="form-item">
            <label>Name: </label>
            <input type="text" name="name-slot" placeholder="John Doe">
          </div>
          <div class="form-item">
            <label>Email: </label>
            <input type="email" name="email" placeholder="jd203@ai-camp.org">
          </div>
          <div class="form-item">
            <label>Message</label>
            <textarea name="message"></textarea>
          </div>
          <input type="submit" name="submit" value="submit">
        </form>
      </div>
    </section>

</body>


</html>